
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    color: white;
    font-size: 50px;
}

.footer {
    text-align: right;
    color: gray;
}

.link {
 color: aquamarine;
 font-size: 16px;
}