
html {
    background-color: black;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

div {
    background-color: black;
}

h1 {
    font-weight: normal;
    color: white;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    text-align: center;
    color: white;
}

p {
    font-size: 21px;
    color: gray;
    text-align: center;
}

.footer {
    text-align: right;
    color: gray;
}

.link {
 color: aquamarine;
 font-size: 16px;
 text-align: center;
}

.camp {
    padding: 25px 290;
}

.phone {
    margin: 0 725px;

}