
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1 {
    font-weight: normal;
    color: white;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

p {
    font-size: 21px;
    color: gray;
    text-align: center;
}

img {
    display: block;
    align-self: center;
}

.footer {
    text-align: right;
    color: gray;
}

.link {
 color: aquamarine;
 font-size: 16px;
 text-align: center;
}